lib
node_modules
.idea
coverage
.DS_Store
**/.DS_Store
tests/data/build-files/**/*
!tests/data/build-files/.gitkeep
tests/data/output-files/**/*
!tests/data/output-files/.gitkeep
tests/data/configs/**/*
!tests/data/configs/.gitkeep
tests/data/test-repos/**/*
!tests/data/test-repos/.gitkeep

